<div class="header">
    <%= image_tag 'lion.jpeg', class: "profile-image" %>
    <h1>César Pérez Vuelvas</h1>
    <h5>Ruby software Developer</h2>
</div>

<div class="new-article">
    <%= link_to 'New Article', new_article_path %>
</div>

<div class="description">
    <h1>About me</h1>
    <p>Saludos a todos! I'm Cesar Perez, Senior support engineer with five years of experience.</p>
    <p>This blog has the pourpose to capture all my knowledge on programming focusing especially with the ruby language.</p>
</div>

<div class="column-2"></div>

<h2 class="section-heading">Articles</h2>

<div class="articles">
    <% @articles.each do |article| %>
        <div class="article">
            <%= image_tag article.cover, class: "article-cover" if article.cover.attached? %>
            <div class="article-details">
                <h2 class="article-title"> <%= article.title %> </h2>
                <%= link_to "Read Article", article_path(article.id) %>
            </div>
        </div>
    <% end %>
</div>

<div class="footer">
    <p class="footer-text-left">
        <a href="index.html" class="menu">home</a>
        <a href="https://www.linkedin.com/in/c%C3%A9sar-p%C3%A9rez-vuelvas-245bb0172/" class="menu">about</a>
    </p>

    <div class="footer-content-right">
        <a href="https://github.com/cesarpmaster "><%= image_tag "github.png", class: "icon-style"%></a>
        <a href="https://www.twitter.com/"><%= image_tag "twitter.png", class: "icon-style"%></a>
        <a href="https://accounts.google.com/AccountChooser/signinchooser?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser"><%= image_tag "email.png", class: "icon-style"%></a>
    </div>
</div>