<% if @article.errors.any? %>
    <h1>Caca</h1>
    <div class="form_errors">
        <h3>Errors</h3>
        <li>
            <ul>
                <% @article.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </li>
    </div>
<% end %>

<div id="content"> <%= form_with model: @article do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :cover %>
        <%= f.file_field :cover %>
    </div>

    <div>
        <%= f.label :content %>
        <%= f.rich_text_area :content %>
    </div>
    <%= f.submit %>
<% end %>
</div>